body {
    background-color: rgb(49, 48, 72);
  }
  
  .menu {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5a022;
  }
  
  li { 
    display: inline-block;
   list-style: none;
    margin: 15px;
  }
  .logo {
    height:50px;
    width:200px; 
    margin-left: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Acme_Markets_lolo.svg/1280px-Acme_Markets_lolo.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* --------------------------------- */

 @media (min-width:600px) {
        .desktop-menu {
          display: none;
        }

    .menu {
        width:600px;
        height:50px;
    
 
    }
 

 .checkbox {
    display: none;
    transition: 0.3s ease-in-out;
  }
  
  .magic-label {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }
  
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: purple;
    color: #fff;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .magic-label img {
    width: 30px;
  }
  
  .magic-label .menu-close {
    display: none;
  }
  
  .checkbox:checked + .magic-label .menu-open {
    display: none;
  }
  
  .checkbox:checked + .magic-label .menu-close {
    display: block;
  }
  
  .checkbox:checked ~ .mobile-menu {
    opacity: 1;
  }
}